
body{
    background-image: url(flower\ img.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
   
}
table{
    text-align: center;
}

